# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# Secrets & credentials
.env
.keys/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Celery
celerybeat-schedule
celerybeat.pid

# Docker volumes (local)
postgres_data/
loki_data/
tempo_data/
grafana_data/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Mise
.mise.toml
mise.toml
.mise/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraform.lock.hcl

# UV
uv.lock.bak
